main {
  margin: 40px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

main figure {
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  padding: 30px;
  margin: 0;
}

video, img {
  width: 100%;
}

figcaption {
  width: 100%;
  word-break: break-all;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 40px;
  text-indent: 20px;
  background-color: white;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 40px;
  text-indent: 20px;
  background-color: white;
  box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);
}

.breadItem {
  background-color: white;
  border: none;
  cursor: pointer;
}